<p>show </p>
<!-- <p>{{vm.authori.photo_url}} {{vm.authori.author}} </p>
<p>{{vm.authori.author}}</p> -->
<!-- <button ng-click="vm.destroy()">Delete</button> -->

<p>{{entry.photo_url}} {{entry.author}}  {{entry.body}}</p>



<!-- <details>
  <summary>
    To create new post, click here.
  </summary>
  <input type="text" placeholder="Enter author name" ng-model="vm.name">
  <input type="text" placeholder="Enter author photo_url" ng-model="vm.photo">
  <input type="text" placeholder="Enter author body" ng-model="vm.message">
  <button data-ng-click="vm.update()">Update</button>
</deatils> -->
